.content-box-green {
  background: $color-green;
  color: $color-white;
}

.content-box-blue {
  background: $color-blue;
  color: $color-white;
}

.fl-accordion-item {
  background: $color-blue;
  color: $color-white;
  font-size: 1.2em;
}

.fl-accordion-content {
  background: $color-grey-medium;
  color: $color-blue-darker;

  a {
    color: $color-blue;
  }
}
