// Main Button Styling
.btn {
  margin: 10px 0;
  background: $color-white;
  height: 45px;
  line-height: 43px;
  font-size: $size-regular;
  font-family: $font-headers;
  position: relative;
  transition: all 0.3s;
  border: 2px solid white;
  border-radius: 3px;

  // Arrow for hover
  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 21px;
    height: 21px;
    top: 9px;
    right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icon-arrow.svg');
    transition: opacity 0.3s;
  }

  &:hover, &:focus, &:active {
    color: $color-white;

    &::after {
      opacity: 1;
    }
  }

  // Primary styles
  &-primary {
    color: $color-white;
    border-color: $color-green;
    background: $color-green;

    &:hover, &:focus, &:active {
      color: $color-green;
      background: $color-white;
      border-color: $color-white;

      &::after {
        background-image: url('../images/icon-arrow-green.svg');
      }
    }
  }

  // Secondary styles
  &-secondary {
    color: $color-blue;
    border-color: $color-blue;

    &:hover, &:focus, &:active {
      background: $color-blue;
      border-color: $color-blue;
    }
  }

  // Tertiary styles
  &-tertiary {
    color: $color-green;

    &:hover, &:focus, &:active {
      border-color: $color-green;
      background: $color-green;
    }
  }

  // Tertiary styles
  &-tertiaryInvert {
    color: $color-blue;

    &:hover, &:focus, &:active {
      border-color: $color-blue;
      background: $color-blue;
      color: $color-white;
    }
  }

  // Client Portal buttons
  &-client {
    height: auto;
    line-height: 30px;
    font-size: 1rem;
    padding: 0 10px;
    margin: 0;

    &:hover, &:focus, &:active {
      &::after {
        opacity: 0;
      }
    }
  }
}
