// Generic client spotlight
.client-spotlight {
  background: $color-blue;
  padding: 6em 5em;

  &-card {
    padding: 30px;
    background: white;

    h2 {
      text-align: center;
    }

    .company-logo {
      text-align: center;
      padding-top: 2em;
    }
  }

  @media #{$medium-and-down} {
    padding: 6em 0;
  }
}

.archive {
  .client-spotlight {
    padding: 3em 5em;
  }

  .page-header {
    margin-bottom: 2em;
  }
}
