input {
  &:not([type]), &[type=text], &[type=password], &[type=email], &[type=url], &[type=time], &[type=date], &[type=datetime], &[type=datetime-local], &[type=tel], &[type=number], &[type=search] {
    &:not(.browser-default) {
      border: 1px solid $color-grey-medium;
    }
  }
}

textarea.materialize-textarea {
  border: 1px solid $color-grey-medium;
}

.input-field label {
  left: 5px;
  color: $color-blue;
}

fieldset {
  border-color: $color-grey-medium;

  legend {
    color: $color-blue;
  }

  label {
    font-size: 1rem;
  }
}
