/** Top Navigation Bar */
nav {
  background: inherit;
}

.topnav-wrapper {
  width: 80%;

  .btn {
    float: right;
  }
}

.menu-top-nav-container {
  ul {
    display: flex;
    margin-top: 0;
  }

  button {
    float: right;
  }
}

/** Main Navigation */
.menu-main-menu-container {
  background: $color-white;

  .navbar-menu {
    display: flex;
    justify-content: center;

    & > li {
      & > a {
        font-family: $font-headers;
        font-size: $size-regularmedium;
        color: $color-blue;
        text-align: center;
        text-transform: uppercase;
        padding: 0 35px;
        position: relative;

        &:hover, &:focus, &:active {
          background: transparent;
          color: $color-green;
          border: none;
        }

        &::before {
          content: '';
          position: relative;
          width: 25px;
          height: 25px;
          background-size: contain;
          display: inline-block;
          top: 5px;
          right: 5px;
        }
      }

      // Icon Hover States
      &.icon-book a::before {
        background-image: url('../images/icon-book.svg');
      }

      &.icon-contact a::before {
        background-image: url('../images/icon-contact.svg');
      }

      &.icon-list a::before {
        background-image: url('../images/icon-list.svg');
      }

      &.icon-stars a::before {
        background-image: url('../images/icon-stars.svg');
      }

      &:hover, &:focus, &:active {
        &.icon-book a::before {
          background-image: url('../images/icon-book-hover.svg');
        }

        &.icon-contact a::before {
          background-image: url('../images/icon-contact-hover.svg');
        }

        &.icon-list a::before {
          background-image: url('../images/icon-list-hover.svg');
        }

        &.icon-stars a::before {
          background-image: url('../images/icon-stars-hover.svg');
        }
      }
    }

    .menu-item-has-children {
      position: relative;

      a {
        cursor: default;

        &:hover, &:focus, &:active {
          border: none;
        }
      }

      .sub-menu {
        z-index: 10;
        background: $color-green;
        color: $color-white;
        transition: max-height 0.3s ease;
        height: 0;
        overflow: hidden;
        width: 100%;
        text-align: center;
        margin: 0;

        li {
          float: none;
          line-height: 3em;

          &:first-of-type {
            padding-top: 20px;
          }

          a {
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;

            &:hover, &:focus, &:active {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }

      &:hover, &:focus, &.hover {
        .sub-menu {
          height: auto;
        }
      }
    }

    @media #{$large-and-up} {
      .sub-menu {
        max-height: 300em;
        flex-direction: column;
        position: absolute;

        &::before {
          content: '';
          background: linear-gradient(to right top, transparent 0%, transparent 50%, white 50%);
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 50%;
          height: 20px;
        }

        &::after {
          content: '';
          background: linear-gradient(to left top, transparent 0%, transparent 50%, white 50%);
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          width: 50%;
          height: 20px;
        }
      }
    }

    @media #{$medium-and-down} {
      display: none;
      margin: 0;
      max-height: 0;

      li {
        width: 100%;

        &.hover {
          .sub-menu {
            max-height: 300em;
          }
        }
      }

      .mobilenav-active & {
        max-height: 300em;
      }
    }
  }
}
