nav, .menu-main-menu-container {
  background: rgba($color-blue, 0.4) !important;

  .sub-menu {
    top: 64px !important;
  }
}

.is-sticky nav {
  background: $color-blue !important;

  .sub-menu {
    top: 50px !important;
  }
}

.logo {
  margin-top: 10px;

  img {
    height: 65px;
    width: auto;

    @media #{$medium-and-down} {
      height: 45px;
      margin-top: 5px;
    }
  }

  &:hover {
    border: none;
  }
}

.nav-top {
  padding-top: 2em;

  @media #{$medium-and-down} {
    top: 55%;
    transform: translateY(-50%);
  }
}

.header-homepage .nav-top {
  padding-top: 2em;

  @media #{$medium-and-down} {
    padding-top: 4.4em;
    top: 0;
    transform: none;
  }
}

.topnav-wrapper {
  width: 80%;

  .btn {
    float: right;
  }

  @media #{$medium-and-down} {
    width: 100%;

    .btn {
      padding: 0;
      width: 100%;
      margin-top: 20px;
    }
  }
}

.menu-top-nav-container {
  ul {
    display: flex;
    margin-top: 0;
  }

  button {
    float: right;
  }
}

/** Main Navigation */
.nav-primary {
  @extend .z-depth-3;
}

.menu-main-menu-container {
  background: $color-white;

  .navbar-menu {
    display: flex;
    justify-content: center;
    padding-left: 0;

    & > li {
      list-style-type: none;

      & > a {
        font-family: $font-headers;
        font-size: $size-regularmedium;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        padding: 0 42px;
        position: relative;
        border: none;

        &:hover, &:focus, &:active {
          background: transparent;
          border: none;
        }

        &::before {
          content: '';
          position: relative;
          width: 25px;
          height: 25px;
          background-size: contain;
          display: inline-block;
          top: 5px;
          right: 5px;
        }
      }

      // Icon Hover States
      &.icon-book a::before {
        background-image: url('../images/icon-book.svg');
      }

      &.icon-contact a::before {
        background-image: url('../images/icon-contact.svg');
      }

      &.icon-list a::before {
        background-image: url('../images/icon-list.svg');
      }

      &.icon-stars a::before {
        background-image: url('../images/icon-stars.svg');
      }
    }

    .menu-item-has-children {
      position: relative;

      a {
        cursor: default;
        border: none;

        &:hover, &:focus, &:active {
          border: none;
        }
      }

      .sub-menu {
        box-shadow: $drop-shadow;
        border-radius: 0 0 $rounded-corners $rounded-corners;
        z-index: 10;
        background: $color-white;
        color: $color-blue;
        transition: max-height 0.6s ease;
        height: 0;
        max-height: 0;
        overflow: hidden;
        width: 200px;
        text-align: center;
        margin: 0;
        top: 50px;
        padding-left: 0;

        li {
          float: none;
          list-style-type: none;
          line-height: 1.4em;

          &:first-of-type {
            padding-top: 20px;
          }

          a {
            color: $color-blue;
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;
            padding: 0.75em 15px;

            &:hover, &:focus, &:active {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }

      &:hover, &:focus, &.hover {
        .sub-menu {
          height: auto;
          max-height: 25em;
        }
      }
    }

    @media #{$large-and-up} {
      .sub-menu {
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          border-top: 20px solid $color-blue;
          border-left: 100px solid transparent;
          border-right: 100px solid transparent;
        }
      }
    }
    @media #{$medium-and-down} {
      display: none;
      margin: 0;
      max-height: 0;

      li {
        width: 100%;

        &.hover {
          .sub-menu {
            max-height: 300em;
          }
        }
      }

      .mobilenav-active & {
        max-height: 300em;
      }
    }
  }
}

// Client Portal Link in main menu
.client-mobile {
  display: none;
}

@media #{$medium-and-down} {
  .client-mobile {
    display: block;
  }

  // Remove main navigation
  .topnav-wrapper .menu-top-nav-container {
    display: none;
  }

  .nav-top {
    display: none;
  }

  // Mobile Nav
  .sticky-wrapper {
    height: 0 !important;
  }

  .nav-primary {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: center;

    .menu-item {
      background: $color-white;
      padding: 10px 0;
    }

    [type="checkbox"] + label {
      padding-left: 0;

      &::before {
        display: none;
      }
    }

    .menu-trigger-wrapper {
      background: $color-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1em;

      #menu-trigger {
        opacity: 0;
      }

      label {
        color: $color-white;
        font-size: 2em;
      }
    }
  }
}
