.our-services {
  height: 500px;
  margin: 100px auto;
  position: relative;

  @media #{$medium-and-down} {
    display: none;
  }
}

.diamond {
  position: absolute;
  margin: 0;
}

.diamond-content {
  transform: rotate(-45deg);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  * {
    transform: perspective(1px) scale(1);
  }

  h3 {
    margin: 0;
    color: $color-white;
    transition: opacity 0.5s ease;
  }

  p {
    font-size: $size-small;
  }
}

.diamond-cube-container {
  position: absolute;
  height: 250px;
  width: 250px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  perspective: 800px;
  perspective-origin: 50% 50%;
}

.diamond-cube {
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform-origin: 50% 50%;

  &[data-show="top"] {
    transform: rotate3d(1, 0, 0, -90deg);
  }

  &[data-show="left"] {
    transform: rotate3d(0, 1, 0, -270deg);
  }

  &[data-show="back"] {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  &[data-show="bottom"] {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  &[data-show="right"] {
    transform: rotate3d(0, 1, 0, 270deg);
  }

  &[data-show="front"] {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.diamond-cube-side {
  position: absolute;
  color: $color-white;
  background: $color-blue;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  z-index: 1;

  &.top {
    transform: rotateX(-90deg) rotateY(180deg) rotateZ(180deg) translateY(-125px);
    transform-origin: top center;
  }

  &.left {
    transform: rotateY(270deg) translateX(-125px);
    transform-origin: center left;
  }

  &.back {
    transform: translateZ(-125px) rotateY(180deg);
  }

  &.bottom {
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg) translateY(125px);
    transform-origin: bottom center;
  }

  &.right {
    transform: rotateY(-270deg) translateX(125px);
    transform-origin: top right;
  }

  &.front {
    transform: translateZ(125px);
  }

  &.diamond-cube-default {
    transform: translateZ(125px);
    z-index: -1;
    opacity: 0;

    &.show {
      opacity: 1;
      z-index: 5;
      transition: all 0.25s ease 0.25s;
    }
  }
}

.diamond-service {
  background: $color-green;
  border: 1px solid $color-green;
  color: $color-white;
  width: 200px;
  height: 200px;

  .hover-icon {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .diamond-content {
    display: block;
    position: relative;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &.top {
    left: 50%;
    transform: translate3d(-314.1320343555px, 0, 0) rotate(45deg);
    top: 0;
  }

  &.left {
    left: 50%;
    top: 50%;
    transform: translate3d(-461.9747468305px, -50%, 0) rotate(45deg);

    &.active {
      position: relative;

      .diamond-content::before {
        content: '';
        width: 100%;
        height: 100%;
        left: 100%;
        position: absolute;
      }
    }
  }

  &.back {
    left: 50%;
    transform: translate3d(-314.1320343555px, 0, 0) rotate(45deg);
    bottom: 0;
  }

  &.bottom {
    right: 50%;
    transform: translate3d(314.1320343555px, 0, 0) rotate(45deg);
    top: 0;
  }

  &.right {
    right: 50%;
    top: 50%;
    transform: translate3d(461.9747468305px, -50%, 0) rotate(45deg);

    &.active {
      position: relative;

      .diamond-content::before {
        content: '';
        width: 100%;
        height: 100%;
        right: 100%;
        position: absolute;
      }
    }
  }

  &.front {
    right: 50%;
    transform: translate3d(314.1320343555px, 0, 0) rotate(45deg);
    bottom: 0;
  }

  &.not-active {
    background: $color-white;
    color: $color-green;
    border-color: $color-green;

    h3 {
      color: $color-green;
    }
  }

  &.active {
    h3 {
      opacity: 0;
    }

    .hover-icon {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
  }
}

// Mobile Services Block
.our-services-mobile {
  display: none;

  @media #{$medium-and-down} {
    display: block;
  }

  .service-mobile-container {
    color: $color-white;

    &:nth-of-type(1) {
      background: $color-blue;
    }

    &:nth-of-type(2) {
      background: $color-green;

      .btn {
        @extend .btn-tertiaryInvert;
      }
    }

    &:nth-of-type(3) {
      background: $color-green;

      .btn {
        @extend .btn-tertiaryInvert;
      }
    }

    &:nth-of-type(4) {
      background: $color-blue;
    }

    &:nth-of-type(5) {
      background: $color-blue;
    }

    &:nth-of-type(6) {
      background: $color-green;

      .btn {
        @extend .btn-tertiaryInvert;
      }
    }
  }
}
