.our-services {
  height: 500px;
  margin: 100px auto;
  position: relative;
}

.diamond {
  position: absolute;
  margin: 0;
}

.diamond-content {
  transform: rotate(-45deg);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  * {
    transform: perspective(1px) scale(1);
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: $size-small;
  }
}

.diamond-cube-container {
  position: absolute;
  height: 250px;
  width: 250px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  perspective: 800px;
  perspective-origin: 50% 50%;
}

.diamond-cube {
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform-origin: 50% 50%;

  &[data-show="top"] {
    transform: rotate3d(1, 0, 0, -90deg);
  }

  &[data-show="left"] {
    transform: rotate3d(0, 1, 0, -270deg);
  }

  &[data-show="back"] {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  &[data-show="bottom"] {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  &[data-show="right"] {
    transform: rotate3d(0, 1, 0, 270deg);
  }

  &[data-show="front"] {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.diamond-cube-side {
  position: absolute;
  color: $color-white;
  background: $color-blue;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  z-index: 1;

  &.top {
    transform: rotateX(-90deg) rotateY(180deg) rotateZ(180deg) translateY(-125px);
    transform-origin: top center;
  }

  &.left {
    transform: rotateY(270deg) translateX(-125px);
    transform-origin: center left;
  }

  &.back {
    transform: translateZ(-125px) rotateY(180deg);
  }

  &.bottom {
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg) translateY(125px);
    transform-origin: bottom center;
  }

  &.right {
    transform: rotateY(-270deg) translateX(125px);
    transform-origin: top right;
  }

  &.front {
    transform: translateZ(125px);
  }

  &.diamond-cube-default {
    transform: translateZ(125px);
    z-index: -1;
    opacity: 0;

    &.show {
      opacity: 1;
      z-index: 5;
      transition: all 0.25s ease 0.25s;
    }
  }
}

.diamond-service {
  background: $color-green;
  border: 1px solid $color-green;
  color: $color-white;
  width: 200px;
  height: 200px;

  &:hover {
    background: darken($color-green, 5%);
    cursor: pointer;
  }

  .hover-icon {
    display: none;
  }

  &.top {
    left: 50%;
    transform: translate3d(-314.1320343555px, 0, 0) rotate(45deg);
    top: 0;
  }

  &.left {
    left: 50%;
    top: 50%;
    transform: translate3d(-461.9747468305px, -50%, 0) rotate(45deg);
  }

  &.back {
    left: 50%;
    transform: translate3d(-314.1320343555px, 0, 0) rotate(45deg);
    bottom: 0;
  }

  &.bottom {
    right: 50%;
    transform: translate3d(314.1320343555px, 0, 0) rotate(45deg);
    top: 0;
  }

  &.right {
    right: 50%;
    top: 50%;
    transform: translate3d(461.9747468305px, -50%, 0) rotate(45deg);
  }

  &.front {
    right: 50%;
    transform: translate3d(314.1320343555px, 0, 0) rotate(45deg);
    bottom: 0;
  }
}

.service-not-active {
  background: $color-white !important;
  color: $color-green !important;
  border-color: $color-green !important;
}

.service-active {
  background: $color-green !important;
  border-color: $color-green !important;
  z-index: 10 !important;
}
