// Google plugin widget
.simple-google-rating-badge {
  width: 425px;
}
// Main general social nav
.menu-top-nav-container {
  display: flex;
  justify-content: flex-end;

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none !important;

    a {
      text-indent: -1000em;
      display: block;
      position: relative;
      height: 20px;
      width: 20px;
      margin: 0 7px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        border: none;
      }
    }

    &.icon-fb a::before {
      background-image: url('../images/icon-fb.svg');
    }

    &.icon-twitter a::before {
      background-image: url('../images/icon-twitter.svg');
    }

    &.icon-linkedin a::before {
      background-image: url('../images/icon-linkedin.svg');
    }

    &.icon-google a::before {
      background-image: url('../images/icon-google.svg');
    }
  }

  @media #{$small-and-down} {
    font-size: 10px;
  }
}

// Social nav on footer
.footer-contact {
  li {
    a {
      top: 5px;
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 7px;

      &::before {
        content: '';
        width: 30px;
        height: 30px;
      }
    }
  }

  .menu-top-nav-container {
    @media #{$medium-and-down} {
      justify-content: center;
    }
  }
}
