.peoples {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .info {
    padding-left: 3em;
  }
}

.staff-member {
  margin-top: 1em;

  // Visible info
  .main-info {
    position: relative;
    width: 100%;
    height: auto;

    .hover-pic {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      display: none;
    }

    // Show hover pic
    &:hover {
      .hover-pic {
        display: block;
      }
    }

    // Modal bio info
    .bioinfo {
      position: absolute;
      bottom: 5px;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      padding: 5px 10px;

      h3 {
        margin: 0;
        color: $color-white;
        font-size: $size-regularmedium;
      }

      p {
        font-size: 1.1em;
        margin: 0;
      }
    }
  }
}

// Modal Styling
.modaal-overlay {
  background: rgba($color-blue, 1) !important;
}

.modaal-content-container {
  h3 {
    margin: 0;
  }

  p.job-title {
    margin-top: 0;
    font-weight: 500;
  }
}

// Team 2 template
.peoples.in-rows {
  align-items: flex-start;

  .staff-member {
    margin-top: 0;
  }

  .info.col {
    h2 {
      margin-bottom: 0;
    }

    p.job-title {
      margin-top: 0;
      font-weight: 500;
    }
  }
}
