.staff-member {
  // Visible info
  .main-info {
    position: relative;
    width: 100%;
    height: auto;

    .hover-pic {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      z-index: -10;
    }

    // Show hover pic
    &:hover {
      .hover-pic {
        z-index: 0;
      }
    }

    // Modal bio info
    .bioinfo {
      position: absolute;
      bottom: 15px;
      left: 5px;
      color: white;

      h3, p {
        margin: 0;
      }
    }
  }
}
