h1 {
  font-family: $font-headers;
  font-size: $size-extralarge;
  font-weight: 500;
}

h2 {
  font-family: $font-headers;
  font-size: $size-large;
  font-weight: 300;
}

h3 {
  font-family: $font-headers;
  font-size: $size-medium;
  font-weight: 500;
  margin-top: $spacer;
}

p {
  font-family: $font-body;
  font-size: $size-regular;
  font-weight: 300;
  line-height: 1.5em;

  .accent {
    font-size: $size-regularmedium;
  }
}

a {
  color: $color-green;

  &:hover, &:focus, &:active {
    border-bottom: 3px solid $color-green;
  }
}

ul {
  list-style-type: lower-roman;

  &:not(.browser-default) {
    padding-left: 30px;

    & > li {
      list-style-type: disc;
      font-weight: 300;
    }
  }
}

strong, b {
  font-weight: 500;
}
