h1 {
  font-family: $font-headers;
  font-size: $size-extralarge;
  font-weight: 600;
  color: $color-blue-darker;

  @media #{$medium-and-down} {
    font-size: 3em;
  }
}

h2 {
  font-family: $font-headers;
  font-size: $size-large;
  font-weight: 600;
  color: $color-blue-darker;

  @media #{$medium-and-down} {
    font-size: 2.2em;
  }
}

h3 {
  font-family: $font-headers;
  font-size: $size-medium;
  font-weight: 500;
  margin-top: $spacer;
  color: $color-blue-darker;
}

p {
  font-family: $font-body;
  font-size: $size-regular;
  font-weight: 300;
  line-height: 1.5em;

  .accent {
    font-size: $size-regularmedium;
  }
}

a {
  color: $color-green;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;

  &:hover, &:focus, &:active {
    border-color: $color-green;
  }
}

ol {
  font-family: $font-body;
  font-size: $size-regular;
  font-weight: 300;
  line-height: 1.5em;
  padding-left: 20px;
}

ul {
  list-style-type: lower-roman;

  &:not(.browser-default) {
    padding-left: 30px;

    & > li {
      list-style-type: disc;
      font-weight: 300;
    }
  }
}

strong, b {
  font-weight: 500;
}
