h1 {
  font-family: $font-headers;
  font-size: $size-extralarge;
  font-weight: 700;
}

h2 {
  font-family: $font-headers;
  font-size: $size-large;
  font-weight: 600;
}

h3 {
  font-family: $font-headers;
  font-size: $size-medium;
  font-weight: 500;
}

p {
  font-family: $font-body;
  font-size: $size-regular;
  font-weight: 300;

  .accent {
    font-size: $size-regularmedium;
  }
}

a {
  color: $color-green;

  &:hover {
    border-bottom: 3px solid $color-green;
  }
}
