// Colors
$color-blue: #004990;
$color-blue-darker: darken($color-blue, 20%);
$color-green: #7ab245;
$color-black: #121212;
$color-white: #fff;

// Fonts
$font-headers: 'Hind', sans-serif;
$font-body: 'Roboto', sans-serif;

// Font Sizes
$size-extralarge: rem-calc(60px);
$size-large: rem-calc(40px);
$size-medium: rem-calc(25px);
$size-regularmedium: rem-calc(22px);
$size-regular: rem-calc(20px);
$size-small: rem-calc(18px);

// Box Model
$spacer: 2rem;

// Modified Grid
$xsmall-screen: 600px;
$xsmall-screen-up: 601px;
$xsmall-and-down: "only screen and (max-width : #{$xsmall-screen})";
$small-screen-up: 769px;
$medium-screen-up: 993px;
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$large-screen-up: 1201px;
$small-screen: 768px;
$medium-screen: 992px;
$small-and-up: "only screen and (min-width : #{$xsmall-screen-up})";
$large-screen: 1200px;

@mixin cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/** Gradients */
// Utility mixin from Compass
@mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
  $gradient-type: if($orientation == vertical, 0, 1);
 /* stylelint-disable */
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}'); // eslint-disable-line function-name-case
  /* stylelint-enable */
}
// @mixin trans-white-gradient-up {
//   @include filter-gradient($color-white-trans, $color-white, vertical);
//
//   background-image: -o-linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
//   background-image: -moz-linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
//   background-image: -ms-linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
//   background-image: linear-gradient(180deg, $color-white-trans 40%, $color-white 100%);
// }
