.content-box-green {
  background: $color-green;
  color: $color-white;
}

.content-box-blue {
  background: $color-blue;
  color: $color-white;
}

.fl-accordion-item {
  background: $color-blue;
  color: $color-white;
}
