// Generic footer wrapper
footer {
  background: $color-blue;
  margin-top: 3em;

  // Logo/accolades rows
  .footer-logos {
    display: flex;
    justify-content: space-between;
    background: $color-white;

    .widget_media_image {
      flex-grow: 1;
      padding: 2em 0;
      text-align: center;

      .image {
        max-height: 75px !important;
        width: auto;
      }
    }

    @media #{$small-and-down} {
      padding: 1em 0;

      .widget_media_image {
        padding: 0 1em;
        width: 75px;
      }
    }
  }

  // Footer contact section
  .footer-contact {
    display: flex;
    align-items: center;
    color: white;

    img {
      height: 66px;
      width: auto;
    }

    @media #{$small-and-down} {
      display: block;
      text-align: center;

      .col:nth-of-type(2) {
        display: none;
      }
    }
  }

  // Copyright row
  .footer-copyright {
    background: $color-white;
    padding: 10px 0;

    .row {
      margin: 0;
    }

    .privacy-wrapper {
      text-align: center;
    }

    @media #{$medium-and-down} {
      text-align: center;
    }
  }

  @media #{$medium-and-down} {
    margin-top: 0;
  }
}

// Footer Navigation
#menu-footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;

  @media #{$medium-and-down} {
    align-items: center;
  }

  li {
    list-style-type: none;
  }

  a {
    height: auto;
    width: auto;
    color: white;
    font-size: 18px;
  }
}
