// Generic footer wrapper
footer {
  background: $color-blue;
  margin-top: 3em;

  // Logo/accolades rows
  .footer-logos {
    display: flex;
    justify-content: space-between;
    background: $color-white;

    .widget_media_image {
      flex-grow: 1;
      padding: 2em 0;
      text-align: center;

      .image {
        max-height: 75px !important;
        width: auto;
      }
    }
  }

  // Footer contact section
  .footer-contact {
    color: white;

    img {
      height: 66px;
      width: auto;
    }
  }

  // Copyright row
  .footer-copyright {
    background: $color-white;
    padding: 10px 0;

    .row {
      margin: 0;
    }

    .privacy-wrapper {
      text-align: center;
    }

    @media #{$medium-and-down} {
      text-align: center;
    }
  }
}
