.header-homepage {
  position: relative;
  height: 91vh;
  background: rgba($color-blue-darker, 0.6);
  text-align: center;
  color: white;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
  }

  .scroll-arrow p {
    margin: 0;

    &:first-of-type {
      transform: rotate(-90deg);
      position: relative;
      top: 10px;
      font-size: $size-extralarge;
    }
  }

  .hero {
    margin-top: 10%;
  }

  @media #{$medium-and-down} {
    .hero {
      margin-top: 25%;
    }
  }
}

#main-site-header {
  height: 200px;
  background-position: center;
  background-size: cover;
  position: relative;

  .nav-top .col {
    text-align: center;
  }
}

.page-header {
  h1 {
    text-align: center;
    text-transform: uppercase;
    // background: $color-blue;
    padding: 20px;
    margin: 0 auto;
    // color: $color-white;
    color: $color-blue;
  }
}
