// Main site header banner
#main-site-header {
  height: 200px;
  position: relative;

  .nav-top .col {
    text-align: center;
  }
}

.banner {
  position: relative;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    background: rgba($color-blue-darker, 0.6);

    @include cover;
  }

  & > * {
    position: relative;
  }
}

.sticky-wrapper {
  position: relative;
  z-index: 50;
}

// Main site header title
.page-header {
  h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 20px;
    margin: 0 auto;
    color: $color-blue;
  }
}

// Homepage Header
.header-homepage {
  position: relative;
  height: 91vh;
  // background: rgba($color-blue-darker, 0.6);
  text-align: center;
  color: white;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
  }

  .scroll-arrow p {
    margin: 0;

    &:first-of-type {
      transform: rotate(-90deg);
      position: relative;
      top: 10px;
      font-size: $size-extralarge;
    }
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    text-align: center;
  }

  @media #{$medium-and-down} {
    height: 100vh;
    padding-top: 20px;

    .hero {
      top: 60%;
    }
  }
}
