.video-temp {
  background: #e3e9f1;
  padding: 4em 0 1em 0;

  iframe {
    display: block;
    margin: 0 auto;
  }

  .video-wrapper {
    width: 800px;
    max-width: 90%;
    margin: 0 auto 2em;
  }
}

.home {
  h1 {
    color: $color-white;
  }

  .subheader {
    display: block;
    font-weight: 400;
    font-size: $size-large;
  }

  // Why Padgett
  .why-padgett {
    padding: 5em 0;
    padding-top: 3em;
    text-align: center;

    p {
      font-size: 1.4em;
    }
  }

  // Values
  .our-values {
    .row {
      max-width: 1920px;
      display: flex;
      flex-wrap: wrap;
    }

    article {
      background: $color-blue;
      color: $color-white;
      border: 1px solid $color-white;
      text-align: center;
      padding: 20px;
      position: relative;
      transition: max-height 0.5s;

      img {
        width: 50px;
        margin-top: 1em;
      }

      h3 {
        color: $color-white;
        margin: 1em 0;
      }

      .hover-quote {
        position: absolute;
        bottom: 100%;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        color: $color-black;
        display: flex;
        align-items: center;

        p {
          padding: 20px;
          font-weight: 400;
        }
      }

      &:nth-of-type(1) .hover-quote {
        background: #e77a0b;
      }

      &:nth-of-type(2) .hover-quote {
        background: #f9c900;
      }

      &:nth-of-type(3) .hover-quote {
        background: #7fb800;
      }

      &:nth-of-type(4) .hover-quote {
        background: #16b2c8;
      }

      &:hover > .hover-quote {
        bottom: 0;
        height: 100%;
      }
    }
  }

  // Google Review
  .google-review {
    margin: 6em auto;
    text-align: center;

    .profile-pic {
      width: 125px;
      height: 125px;
      border-radius: 5px;
      transform: rotate(45deg);
      overflow: hidden;
      margin: 0 auto;

      img {
        transform: rotate(-45deg) scale(1.8);
      }
    }

    @media #{$medium-and-down} {
      margin: 3em auto;

      .col {
        margin-top: 2em 0;
      }
    }
  }

  // Call to action
  .cta {
    height: 325px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;

    h2 {
      color: $color-white;
    }
  }
}
