.home {
  .why-padgett {
    padding: 5em 0;
  }

  .our-values {
    article {
      background: $color-blue;
      color: $color-white;
      border: 1px solid $color-white;
      text-align: center;
      padding: 20px;
      position: relative;
      transition: max-height 0.5s;

      img {
        width: 50px;
      }

      .hover-quote {
        position: absolute;
        bottom: 100%;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        background: $color-green;
        transition: 0.5s ease;
        display: flex;
        align-items: center;
      }

      &:hover > .hover-quote {
        bottom: 0;
        height: 100%;
      }
    }
  }

  .client-spotlight {
    background: $color-blue;
    padding: 6em 5em;

    &-card {
      padding: 30px;
      background: white;

      h2 {
        text-align: center;
      }

      .company-logo {
        text-align: center;
        padding-top: 2em;
      }
    }

    @media #{$large-and-down} {
      padding: 6em 0;
    }
  }

  .google-review {
    margin: 6em auto;
    text-align: center;

    img {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: center;
    }
  }

  .cta {
    height: 325px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
  }
}
