// Archive
// .posts {
//   display: flex;
//   flex-wrap: wrap;
// }

.post-container {
  text-align: center;
  box-shadow: $drop-shadow;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;

  .img-wrapper {
    height: 100px;

    img {
      padding-top: 10px;
      max-height: 100px;
      width: auto;
    }
  }

  img.full-width {
    position: relative;
    top: -20px;
    left: -20px;
    right: -20px;
    max-width: calc(100% + 40px);
  }

  .post-title {
    margin-top: 0;
    font-size: $size-regularmedium;
  }
}

// Single Post
.single-post {
  header {
    text-align: center;

    img {
      margin: 1.5em 0;
    }
  }
}
