// .posts {
//   display: flex;
// }
//
// .post-header {
//   img {
//     height: 75px;
//     max-width: 60%;
//     object-fit: contain;
//     text-align: center;
//   }
// }
//
// .post-container {
//   display: flex;
//
//   .post-wrap {
//     text-align: center;
//     border: 3px solid $color-green;
//     padding: 10px;
//   }
// }

.client-spotlight {
  background: $color-blue;
  padding: 2em 5em;

  &-card {
    padding: 30px;
    background: white;

    h2 {
      text-align: center;
    }

    .company-logo {
      text-align: center;
      padding-top: 2em;
    }
  }

  @media #{$large-and-down} {
    padding: 6em 0;
  }
}
